# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
.Python
.venv/
env/
venv/

# Streamlit
.streamlit/secrets.toml

# Notebooks
.ipynb_checkpoints/

# Daten & Outputs (lokal halten)
data/
outputs/
data/raw/
data/processed/
notebook_save/
*.zip

# OS
.DS_Store
Thumbs.db
